<%= image_tag(@volunteer.avatar_url, :alt => "Avatar", :class => "avatar round") if @volunteer.avatar? %>
<div class="titlevol">
<h1><%= @volunteer.name %></h1>
<strong><%= link_to t('helpers.submit.update', :model => "Voluntario"), edit_volunteer_path(@volunteer) %></strong> | 
<strong><%= link_to t('timereport.volunteer'), trep_volunteer_path(@volunteer) %></strong>
</div>
<table>
<%= render 'volunteerinfo' %>
<%= render 'tiempos' %>
<% if !(@volunteer.socialservices.empty?) and (@volunteer.status == 1) %>
  <%= render 'socialservice' %>
  <%= render 'dailyschedules/schedule' %>
<% end %>
<% if !(@volunteer.subprogram.nil?) and (@volunteer.subprogram.sobreviviente) %>
  <%= render 'diagnosticos/diagnosticosinfo', :model => @volunteer %>
<% end %>
<%= render 'telephones/telephoneinformation', :model => @volunteer %>
<%= render 'addresses/addressinformation', :model => @volunteer %>
<%= render 'emails/emailinfo', :model => @volunteer  %>
<%= render 'subprograms/subprograminfo' %>
<%= render 'addinfos/additionalinformation', :model => @volunteer %>
<%= render 'comments/comments', :model => @volunteer %>
</table>