<tr>
  <td colspan=2><%= t('familymember.nombre') %>: <%= family_member.nombre %></td>
</tr>
<tr>
  <td><%= t('familymember.parentesco') %>: <%= family_member.parentesco %></td><td><%= t('familymember.edad') %>: <%= family_member.edad %></td>
</tr>
<tr>
  <td colspan=2><%= t('familymember.derechohabiente') %>: <%= family_member.derechohabiente %></td>
</tr>
<tr>
  <td colspan=2><%= t('familymember.comentarios') %>: <%= family_member.comentarios %></td>
</tr>
<tr>
  <td><%= link_to t('helpers.edit'), edit_patient_family_member_path(@patient, family_member) %></td>
  <td><%= link_to t('helpers.delete.msg'), patient_family_member_path(@patient,family_member), :method => :delete, :confirm => t('helpers.delete.conf') %></td>
</tr>

