<table class="refclinica">
  <tr>
    <th colspan=2>
      <strong><%= t('refclinica.title') %></strong>
	</th>
  </tr>	
  <tr>
	<td colspan=2><strong>
	  <% if @refclinica == nil %>
	  <%= link_to t('helpers.submit.create', :model => "Referencia Clinica"), new_patient_refclinica_path(@patient) %>
	  <% else %>
	  <%= link_to t('helpers.edit'), edit_patient_refclinica_path(@patient, @refclinica) %>
	  <% end %>
	</strong></td>
  </tr>
  <% if @refclinica != nil %>
  <%= render @refclinica %>
  <tr><td colspan=2><%= link_to t('helpers.delete.msg'), patient_refclinica_path(@patient,@refclinica), :method => :delete, :confirm => t('helpers.delete.conf') %></td></tr>
  <% end %>
</table>