<tr>
  <td><%= f.text_field :codigo, :size => 5 %></td>
  <td><%= f.text_field :descripcion, :size => 30 %></td>
  <td><%= f.text_field :cuota, :size => 3 %></td>
  <td><%= f.text_field :cantidad, :size => 3 %></td>
  <td id=<%= "'subtotal_#{index}'" %>></td>	 
  <td><%= f.label :_destroy, t('note.del') %></td>
  <td><%= f.check_box :_destroy %></td>
</tr>