<!DOCTYPE html>
<html>
  <head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'customprint', :media => "screen, print, projection" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="wrap">
      <div id="header" align="center">
        <%= render 'noteprint' %><hr />
        <%= render 'noteprint' %><hr />
        <%= render 'noteprint' %>
      </div>
    </div>
  </body>
</html>