<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
<%= stylesheet_link_tag 'customprint', :media => "screen, print, projection" %>
<%= csrf_meta_tag %>
<div id="wrap">
  <div id="header" align="center">
    <%= render 'noteprint' %>
    <%= render 'noteprint' %>
    <%= render 'noteprint' %>
  </div>
  <div id="mainleft"></div>
  <div id="mainright"></div>
  <div id="footer"></div>
</div>