<table class="table app-table mb-3 schedules" align=center>
  <tr>
    <th class="table-light"><%= t('volunteer.horario') %></th>
	<td colspan=5 class="table-light"><%= link_to t('helpers.submit.create', :model => "Horario por Dia"), new_volunteer_dailyschedule_path(@volunteer), class: "btn btn-outline-primary btn-sm" %></td>
  </tr>
  <% unless @volunteer.dailyschedules.empty? %>
    <tr>
      <th><%= t('volunteer.day') %></th>
      <th><%= t('volunteer.begin') %></th>
      <th><%= t('volunteer.end') %></th>
      <th><%= t('volunteer.tiempo') %></th>
      <th></th>
      <th></th>
    </tr>
    <%= render @dailyschedules %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><strong><%= @volunteer.dt %></strong></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</table>
