<tr>
  <td><%= link_to truncate(activity_report.reporte, :length => 25), activity_report %>
  <td><%= link_to "Semana #{activity_report.semana}", activity_report %></td>
  <td><%= link_to l(activity_report.created_at, :format => :rep), activity_report %></td>
  <td><%= link_to activity_report.volunteer.cgdvcode, activity_report.volunteer %></td>
  <% if can? :edit, @activity_report %>
  <td class="smally"><%= link_to t('helpers.submit.update', :model => "Reporte"), edit_activity_report_path(activity_report) %></td>
  <% end %>
  <% if can? :destroy, @activity_report %>
	  <td class="smally"><%= link_to t('helpers.delete.msg'), activity_report, :method => :delete, :confirm => t('helpers.delete.conf'), :title => "#{t('helpers.delete.msg')} #{activity_report.created_at}" %></td>
	  <% end %>
</tr>