<%= form_for @activity_report do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :reporte %><br />
    <%= f.text_area :reporte %>
  </p>
  <p>
    <%= f.label :volunteer %><br />
    <%= f.text_field :volunteer %>
  </p>
  <p><%= f.submit %></p>
<% end %>
