<%= render 'shared/error_messages', :object => f.object %>
<div class="row g-3">
  <div class="col-md-4">
    <%= f.label :tipo, t('house.tipo'), class: "form-label" %>
    <%= f.select :tipo, House::TIPOS, {}, { class: "form-select" } %>
  </div>
  <div class="col-md-4">
    <%= f.label :habitaciones, t('house.habitaciones'), class: "form-label" %>
    <%= f.text_field :habitaciones, class: "form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.label :habitantes, t('house.habitantes'), class: "form-label" %>
    <%= f.text_field :habitantes, class: "form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.label :familiares, t('house.familiares'), class: "form-label" %>
    <%= f.text_field :familiares, class: "form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.label :menores, t('house.menores'), class: "form-label" %>
    <%= f.text_field :menores, class: "form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.label :economicaactivas, t('house.economicaactivas'), class: "form-label" %>
    <%= f.text_field :economicaactivas, class: "form-control" %>
  </div>
</div>
