<%= render 'shared/error_messages', :object => f.object %>
<table>
  <tr>
  	<td>
	  <div class="field">
	    <%= f.check_box :sobreviviente %>
		<%= f.label :sobreviviente, t('volunteer.sobreviviente') %>
	  </div>
    </td>
  	<td>
	  <div class="field">
	    <%= f.check_box :licencia%>
		<%= f.label :licencia, t('volunteer.licencia') %>
	  </div>
    </td>
  </tr>
  <tr>
  	<td>
	  <div class="field">
	    <%= f.check_box :donador %>
		<%= f.label :donador, t('subprogram.donador') %>
	  </div>
    </td>
  	<td>
	  <div class="field">
	    <%= f.check_box :eventos %>
	    <%= f.label :eventos, t('subprogram.eventos') %>
	  </div>
    </td>
  </tr>
  <tr>
  	<td>
	  <div class="field">
	    <%= f.check_box :hospitales %>
	    <%= f.label :hospitales, t('subprogram.hospitales') %>
	  </div>
    </td>
  	<td>
	  <div class="field">
	    <%= f.check_box :suenosdeseos %>
	    <%= f.label :suenosdeseos, t('subprogram.suenosdeseos') %>
	  </div>
    </td>
  </tr>
  <tr>
  	<td>
	  <div class="field">
	    <%= f.check_box :fondos %>
	    <%= f.label :fondos, t('subprogram.fondos') %>
	  </div>
    </td>
  	<td>
	  <div class="field">
	    <%= f.check_box :administrativas %>
	    <%= f.label :administrativas, t('subprogram.administrativas') %>
	  </div>
    </td>
  </tr>
  <tr>
  	<td>
	  <div class="field">
	    <%= f.check_box :autoayuda %>
	    <%= f.label :autoayuda, t('subprogram.autoayuda') %>
	  </div>
    </td>
  	<td>
	  <div class="field">
	    <%= f.check_box :sobrevivientes %>
	    <%= f.label :sobrevivientes, t('subprogram.sobrevivientes') %>
	  </div>
    </td>
  </tr>
  <tr>
  	<td>	
	  <div class="field">
	    <%= f.check_box :fugarte %>
	    <%= f.label :fugarte, t('subprogram.fugarte') %>
	  </div>
    </td>
    <td>
      <div class="field">
    	<%= f.check_box :licencia %>
		<%= f.label :licencia, t('volunteer.licencia') %>
	  </div>
	</td>
  </tr>
  <tr>
  	<td>	
	  <div class="field">
	    <%= f.check_box :disenografico %>
	    <%= f.label :disenografico, t('subprogram.disenografico') %>
	  </div>
    </td>
    <td>
      <div class="field">
    	<%= f.check_box :abogacia %>
		<%= f.label :abogacia, t('subprogram.abogacia') %>
	  </div>
	</td>
  </tr>
  <tr>
  	<td>	
	  <div class="field">
	    <%= f.check_box :invdocumental %>
	    <%= f.label :invdocumental, t('subprogram.invdocumental') %>
	  </div>
    </td>
    <td>
      <div class="field">
    	<%= f.check_box :invmedica %>
		<%= f.label :invmedica, t('subprogram.invmedica') %>
	  </div>
	</td>
  </tr>
  <tr>
  	<td>	
	  <div class="field">
	    <%= f.check_box :disenoweb %>
	    <%= f.label :disenoweb, t('subprogram.disenoweb') %>
	  </div>
    </td>
    <td>
      <div class="field">
    	<%= f.check_box :apoyocap %>
		<%= f.label :apoyocap, t('subprogram.apoyocap') %>
	  </div>
	</td>
  </tr>
  <tr>
  	<td>	
	  <div class="field">
	    <%= f.check_box :apoyofueraoficina %>
	    <%= f.label :apoyofueraoficina, t('subprogram.apoyofueraoficina') %>
	  </div>
    </td>
  </tr>
</table>