<tr>
  <td><%= t('subprogram.donador') %>: <%= subprogram.donador ? "Si" : "No" %></td>
  <td><%= t('subprogram.eventos') %>: <%= subprogram.eventos ? "Si" : "No" %></td>
  <td><%= t('subprogram.hospitales') %>: <%= subprogram.hospitales ? "Si" : "No" %></td>
</tr>
<tr>
  <td><%= t('subprogram.suenosdeseos') %>: <%= subprogram.suenosdeseos ? "Si" : "No" %></td>
  <td><%= t('subprogram.fondos') %>: <%= subprogram.fondos ? "Si" : "No" %></td>
  <td><%= t('subprogram.administrativas') %>: <%= subprogram.administrativas ? "Si" : "No" %></td> 
</tr>
<tr>
  <td><%= t('subprogram.autoayuda') %>: <%= subprogram.autoayuda ? "Si" : "No" %></td>
  <td><%= t('subprogram.sobrevivientes') %>: <%= subprogram.sobrevivientes ? "Si" : "No" %></td>
  <td><%= t('subprogram.fugarte') %>: <%= subprogram.fugarte ? "Si" : "No" %></td> 
</tr>
<tr><td colspan=3><%= link_to t('helpers.delete.msg'), volunteer_subprogram_path(@volunteer,@subprogram), :method => :delete, :confirm => t('helpers.delete.conf') %></td></tr>

