<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :name, t('user.name') %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :email, t('user.email') %><br />
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password, t('user.password') %><br />
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation, t('user.confirmation') %><br />
  <%= f.password_field :password_confirmation %>
</div>
<div>
  <%= f.label :language, t('user.language') %><br />
  <%= f.select :language, [['Español', 'sp'], ['English', 'en']] %>
</div>