<h1><%= t('user.index') %></h1>
<div class="btn-group" role="group" aria-label="mini-nav">
  <%= link_to t('helpers.submit.create', model: 'Nuevo Usuario'), new_user_path, class: "btn btn-secondary" %>
</div>
<br /><br />
<%= paginate @users %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= sort_link @search, :name, t('user.name'), default_order: :desc %></th>
        <th><%= sort_link @search, :email, t('user.email'), default_order: :desc %></th>
        <th><%= sort_link @search, :last_sign_in_at, t('user.last_sign_in_at'), default_order: :desc %></th>
        <th><%= sort_link @search, :sign_in_count, t('user.sign_in_count'), default_order: :desc %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>
<%= paginate @users %>
