<h1><%= t('user.index') %></h1>

<%= paginate @users %>

<table>
<tr>
  <th><%= t('user.name') %></th>
  <th><%= t('user.email') %></th>
  <th></th>
  <th></th>
</tr>

  <%= render @users %>
</table>
<%= paginate @users %>
