<!DOCTYPE html>
<html>
  <head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'customprint', :media => "screen, print, projection" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div align="center">
      <h1><%= @att.name %></h1>
				<%  unless @att.fileattachment.to_s.nil? %>
					<%= image_tag(image_attachment_path(@att), :alt => "Archivo Adjunto", :class => "avatar round") %><br />
				<% end %>
    </div>
  </body>
</html>


