<tr>
  <td><%= link_to donation.folio, donation, class: "fw-semibold" %></td>
  <td><%= link_to donation.donor.cgdvcode, donation.donor %></td>
  <td><%= link_to l(donation.frecepcion), donation %></td>
  <td><%= link_to donation.finalidad, donation %></td>
  <td class="text-end">
    <% if can? :destroy, Donation %>
      <%= link_to t('helpers.delete.msg'), donation, :method => :delete, :confirm => t('helpers.delete.conf'), :title => "#{t('helpers.delete.msg')} #{donation.folio}", class: "btn btn-outline-danger btn-sm" %>
    <% end %>
  </td>
</tr>
