<h1><%= t('donation2.index') %></h1>
<h6><%= link_to t('helpers.submit.create', :model => "Nueva Donación"), new_donation_path %></h6><br />

<%= search_form_for @search, :url => donations_path, :html => {:method => :get} do |f| %>
  
  <h6><%= t('search.title') %></h6>	
  <%= f.label :folio_cont, t('note.folio') %>
  <%= f.text_field :folio_eq, :size => 3 %>
  <%= f.label :cgdvcode_eq, t('search.cgdvcode') %>
  <%= f.text_field :donor_cgdvcode_eq, :size => 3 %>
  <%= f.label :name_cont, t('search.name') %>
  <%= f.text_field :donor_name_cont %>
  <%= f.submit t('helpers.search') %><br /><br />
<% end %>

<strong><%= t('search.sort') %>	</strong>

<%= paginate @donations %>

<table>
  <tr>
    <th><%= sort_link @search, :folio, t('note.folio'), :default_order => :desc %></th>
    <th><%= sort_link @search, :donor_cgdvcode, t('patient.cgdvcode'), :default_order => :desc %></th>
    <th><%= sort_link @search, :frecepcion, t('donation2.frecepcion'), :default_order => :desc  %></th>
    <th>Finalidad</th>
  </tr>
  <%= render @donations %>
</table>

<%= paginate @donations %>
