<%= render 'shared/error_messages', :object => f.object %>
<div class="row g-3">
  <div class="col-12 col-md-4">
    <%= f.label :status, t('patient.status'), class: "form-label" %>
    <%= f.select :status, Patient::STATUS, {}, class: "form-select" %>
  </div>
  <div class="col-12 col-md-4">
    <%= f.label :cgdvcode, t('patient.cgdvcode'), class: "form-label" %>
    <%= f.text_field :cgdvcode, :value => @cgdvcode, class: "form-control" %>
  </div>
  <div class="col-12 col-md-8">
    <%= f.label :name, t('patient.name'), class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="col-12 col-md-4">
    <%= f.label :birthdate, t('patient.birthdate'), class: "form-label d-block" %>
    <div class="date-select-inline">
      <%= f.date_select :birthdate, {:order => [:day, :month, :year], :start_year => Time.now.year - 100, :end_year => Time.now.year}, {:class => "form-select d-inline-block w-auto"} %>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <%= f.label :sex, t('patient.sex'), class: "form-label" %>
    <%= f.select :sex, ['F', 'M'], {}, class: "form-select" %>
  </div>
  <div class="col-12 col-md-4">
    <%= f.label :blod, t('patient.blod'), class: "form-label" %>
    <%= f.select :blod, Patient::BLOODTYPES, {}, class: "form-select" %>
  </div>
</div>

<div class="card border-0 shadow-sm mt-3 defunciones">
  <div class="card-header"><strong><%= t('patient.fdefuncion') %> / <%= t('patient.faviso') %></strong></div>
  <div class="card-body">
    <div class="row g-3">
      <div class="col-12 col-md-4">
        <%= f.label :fdefuncion, t('patient.fdefuncion'), :type => "hidden", class: "form-label d-block" %>
        <div class="date-select-inline">
          <%= f.date_select :fdefuncion, {:order => [:day, :month, :year], :start_year => Time.now.year - 90, :end_year => Time.now.year}, {:class => "form-select d-inline-block w-auto"} %>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <%= f.label :faviso, t('patient.faviso'), class: "form-label d-block" %>
        <div class="date-select-inline">
          <%= f.date_select :faviso, {:order => [:day, :month, :year], :start_year => Time.now.year - 90, :end_year => Time.now.year}, {:class => "form-select d-inline-block w-auto"} %>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <%= f.label :montocon, t('patient.montocon'), class: "form-label" %>
        <%= f.text_field :montocon, class: "form-control" %>
      </div>
    </div>
  </div>
</div>
