<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :status, t('patient.status') %><br />
  <%= f.select :status, Patient::STATUS %>
</div>
<div class="field">
  <%= f.label :cgdvcode, t('patient.cgdvcode') %><br />
  <%= f.text_field :cgdvcode, :value => @cgdvcode %>
</div>
<div class="field">
  <%= f.label :name, t('patient.name') %><br />
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :birthdate, t('patient.birthdate') %><br />
  <%= f.date_select :birthdate, :order => [:day, :month, :year] ,:start_year => Time.now.year - 100, :end_year => Time.now.year %>
</div>
<div>
  <%= f.label :sex, t('patient.sex') %><br />
  <%= f.select :sex, ['F', 'M'] %>
</div>
<div>
  <%= f.label :blod, t('patient.blod') %><br />
  <%= f.select :blod, Patient::BLOODTYPES %>
</div>
<div class="defunciones">
  <%= f.label :fdefuncion, t('patient.fdefuncion'), :type => "hidden" %><br />
  <%= f.date_select :fdefuncion, :order => [:day, :month, :year] ,:start_year => Time.now.year - 90, :end_year => Time.now.year %><br />
  
  <%= f.label :faviso, t('patient.faviso') %><br />
  <%= f.date_select :faviso, :order => [:day, :month, :year] ,:start_year => Time.now.year - 90, :end_year => Time.now.year %><br />
  
  <%= f.label :montocon, t('patient.montocon') %><br />
  <%= f.text_field :montocon %><br />
</div>