<table>
  <tr><td><strong><%= t('patient.info') %></strong></td><td><%= link_to t('helpers.submit.update', :model => "Datos Principales"), edit_patient_path(@patient) %></td></tr>
  <tr><td><%= t('patient.cgdvcode') %>:</td><td> <%= @patient.cgdvcode %></td></tr>
  <tr><td><%= t('patient.name') %>:</td><td> <%= @patient.name %></td></tr>
  <tr><td><%= t('patient.sex') %>:</td><td> <%= @patient.sex %></td></tr>
  <tr><td><%= t('patient.blod') %>:</td><td> <%= @patient.blod %></td></tr>
  <tr><td><%= t('patient.birthdate') %>:</td><td> <%= l @patient.birthdate, :format => :long %></td></tr>
</table>