<table class="table table-borderless table-hover">
  <thead>
    <tr>
    	<th scope="col" style="width: 20%;">
        <h5><%= t('patient.info') %></h5>
        </th>
      <th scope="col">
        <%= link_to t('helpers.submit.update', model: "Datos Principales"),
        edit_patient_path(@patient),
        class: "btn btn-secondary btn-sm" %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= t('patient.status') %></th>
      <td><%= pat_status(@patient.status) %></td>
    </tr>
    <tr>
      <th scope="row"><%= t('patient.cgdvcode') %></th>
      <td><%= @patient.cgdvcode %></td>
    </tr>
    <tr>
      <th scope="row"><%= t('all.created_at') %></th>
      <td><%= l @patient.created_at, format: :small %></td>
    </tr>
    <tr>
      <th scope="row"><%= t('patient.name') %></th>
      <td><%= @patient.name %></td>
    </tr>
    <tr>
      <th scope="row"><%= t('patient.blod') %></th>
      <td><%= @patient.blod %></td>
    </tr>
    <tr>
      <th scope="row"><%= t('patient.sex') %></th>
      <td><%= @patient.sex %></td>
    </tr>
    <tr>
      <th scope="row"><%= t('patient.age') %></th>
      <td><%= t('datetime.distance_in_words.x_years', :count => edad(@patient.birthdate)) %></td>
    </tr>
    <tr>
      <th scope="row"><%= t('patient.birthdate') %></th>
      <td><%= l @patient.birthdate, :format => :long %></td>
    </tr>
    <% if @patient.status == 4 and !@patient.fdefuncion.nil? and !@patient.faviso.nil? and !@patient.montocon.nil? %>
    <tr>
      <th scope="row"><%= t('patient.fdefuncion') %></th>
      <td><%= l @patient.fdefuncion %></td>
    </tr>
    <tr>
      <th scope="row"><%= t('patient.faviso') %></th>
      <td><%= l @patient.faviso %></td>
    </tr>
    <tr>
      <th scope="row"><%= t('patient.montocon') %></th>
      <td><%= @patient.montocon %></td>
    </tr>
    <% end %>
  </tbody>
</table>
