<h1><%= t('patient.index') %></h1>
<h6><%= link_to t('helpers.submit.create', :model => "Nuevo Paciente"), new_patient_path %></h6>

<%= will_paginate %>

<ul class="users">
  <%= render @patients %>
</ul>

<%= will_paginate %>
