<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
	<%= stylesheet_link_tag 'customprint', :media => "screen, print, projection" %>
	<%= csrf_meta_tag %>
	</head>
    <body class="print-preview-body">	
	<div id="wrap" class="print-preview-shell patient-print-shell">
	  <div id="header" class="print-preview-header">
      <div class="patient-print-title">
        <div class="patient-print-logo"><%= logoprint %></div>
        <div class="patient-print-heading">
          <h1><%= @patient.cgdvcode %>: <%= @patient.name %></h1>
        </div>
      </div>
	  </div>
	  <div class="patientprint patientprint-column" id="mainleft">
		<%= render 'personalinformation' %>
		<%= render 'houses/houseinfo' %>
	    <%= render 'family_members/familymembers' %>
	  </div>
	  <div class="patientprint patientprint-column" id="mainright">
	    <%= render 'refclinicas/refclinicainfo' %>
	    <%= render 'socioecos/socioecoinfo' %>
	    <%= render 'diagnosticos/diagnosticosinfo', :model => @patient  %>
		<%= render 'tratamientos/tratamientosinfo' %>
		<%= render 'derechohabientes/derechohabientes' %>
		<%= render 'telephones/telephoneinformation', :model => @patient %>
		<%= render 'addresses/addressinformation', :model => @patient %>
	    <%= render 'apoyos/apoyosinfo' %>
		<%= render 'emails/emailinfo', :model => @patient %>
	    <%= render 'addinfos/additionalinformation', :model => @patient %>
		<%= render 'comments/comments', :model => @patient %>
	  </div>
    </div>
  </body>
</html>
