<table class="profile" summary="Patient information">
  <tr>
    <td class="main">
      <h1>
        <%= @patient.name %>
      </h1>
      <h6><%= link_to t('helpers.submit.update', :model => "Patient"), edit_patient_path(@patient) %></h6><br />
      <strong><%= t('patient.name') %>:</strong> <%= @patient.name %><br />
      <strong><%= t('patient.cgdvcode') %>:</strong> <%= @patient.cgdvcode %><br />
    </td>
  </tr>
</table>
