<div class="page-toolbar mb-3">
  <div class="d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center gap-2">
    <h1 class="h2 mb-0"><%= @patient.name %></h1>
    <div class="d-flex flex-wrap gap-2">
      <%= link_to t('helpers.print'), print_patient_path(@patient), class: "btn btn-outline-secondary btn-sm" %>
      <%= link_to t('note.patient'), notas_patient_path(@patient), class: "btn btn-outline-primary btn-sm" %>
    </div>
  </div>
</div>
<%= render 'personalinformation' %>
<%= render 'refclinicas/refclinicainfo' %>
<%= render 'telephones/telephoneinformation', :model => @patient %>
<%= render 'emails/emailinfo', :model => @patient %>
<%= render 'addresses/addressinformation', :model => @patient %>
<%= render 'derechohabientes/derechohabientes' %>
<%= render 'apoyos/apoyosinfo' %>
<%= render 'tratamientos/tratamientosinfo' %>
<%= render 'diagnosticos/diagnosticosinfo', :model => @patient %>
<%= render 'houses/houseinfo' %>
<%= render 'socioecos/socioecoinfo' %>
<%= render 'family_members/familymembers' %>
<%= render 'addinfos/additionalinformation', :model => @patient %>
<%= render 'comments/comments', :model => @patient %>
<%= render 'attachments/attachments', :model => @patient %>
<div class="mt-3">
  <%= link_to t('helpers.print'), print_patient_path(@patient), class: "btn btn-outline-secondary btn-sm" %>
</div>
