<h1><%= @patient.name %></h1>
<strong><%= link_to t('helpers.print'), print_patient_path(@patient) %></strong> | 
<strong><%= link_to t('note.patient'), notas_patient_path(@patient) %></strong>
<%= render 'personalinformation' %>
<%= render 'refclinicas/refclinicainfo' %>
<%= render 'telephones/telephoneinformation', :model => @patient %>
<%= render 'emails/emailinfo', :model => @patient %>
<%= render 'addresses/addressinformation', :model => @patient %>
<%= render 'derechohabientes/derechohabientes' %>
<%= render 'apoyos/apoyosinfo' %>
<%= render 'tratamientos/tratamientosinfo' %>
<%= render 'diagnosticos/diagnosticosinfo', :model => @patient %>
<%= render 'houses/houseinfo' %>
<%= render 'socioecos/socioecoinfo' %>
<%= render 'family_members/familymembers' %>
<%= render 'addinfos/additionalinformation', :model => @patient %>
<%= render 'comments/comments', :model => @patient %>
<%= render 'attachments/attachments', :model => @patient %>
<strong><%= link_to t('helpers.print'), print_patient_path(@patient) %></strong>
