<tr>
  <td><%= t('address.place') %>:</td><td><%= address.place %></td>
  <td><%= t('address.codigopostal') %>:</td><td><%= address.codigopostal %></td>
</tr>
<tr><td><%= t('address.domicilio') %>:</td><td colspan=3><%= address.domicilio %></td></tr>
<tr><td><%= t('address.estado') %>:</td><td colspan=3><%= address.estado %></td></tr>
<tr><td><%= t('address.municipio') %>:</td><td colspan=3><%= address.municipio %></td></tr>
<tr><td><%= t('address.colonia') %>:</td><td colspan=3><%= address.colonia %></td></tr>
<tr>
  <td colspan=2><%= link_to t('helpers.edit'), edit_patient_address_path(@patient, address) %></td>
  <td colspan=2><%= link_to t('helpers.delete.msg'), patient_address_path(@patient,address), :method => :delete, :confirm => t('helpers.delete.conf') %></td>
</tr>
<tr><td colspan=4><strong><%= link_to t('helpers.submit.create', :model => "Direccion"), new_patient_address_path(@patient) %></strong></td><tr>