<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :tipo, t('patient.tipo') %><br />
  <%= f.select :tipo, Addinfo::ADDINFO %>
</div>
<div class="field">
  <%= f.label :info, t('patient.info2') %><br />
  <%= f.text_field :info %>
</div>