<%= render 'shared/error_messages', :object => f.object %>
<div class="row g-3 app-form">
  <div class="col-12 col-lg-6">
    <%= f.label :evento, t('volunteer.evento'), class: "form-label" %>
    <%= f.select :evento, Timereport::EVENTO, {}, class: "form-select" %>
  </div>

  <div class="col-12 col-md-4 col-lg-3">
    <%= f.label :volunteer_id, t('patient.cgdvcode'), class: "form-label" %>
    <%= f.collection_select :volunteer_id, Volunteer.order('cgdvcode'), :id, :cgdvcode, {}, class: "form-select" %>
  </div>

  <div class="col-12 col-md-8 col-lg-3">
    <%= f.label :volunteer_id, t('patient.name'), class: "form-label" %>
    <div id="volunteer_name" class="form-control bg-light"> </div>
  </div>

  <div class="col-12 col-lg-4">
    <%= f.label :day, t('volunteer.day'), class: "form-label d-block" %>
    <div class="date-select-inline">
      <%= f.date_select :day, {}, { class: "form-select d-inline-block w-auto" } %>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4">
    <%= f.label :begin, t('volunteer.begin'), class: "form-label d-block" %>
    <div class="date-select-inline">
      <%= f.time_select :begin, {}, { class: "form-select d-inline-block w-auto" } %>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4">
    <%= f.label :end, t('volunteer.end'), class: "form-label d-block" %>
    <div class="date-select-inline">
      <%= f.time_select :end, {}, { class: "form-select d-inline-block w-auto" } %>
    </div>
  </div>
</div>
