<h1><%= t('timereport.title') %></h1>
<h6><%= link_to t('helpers.submit.create', :model => "Nuevo Reporte de Tiempo"), new_timereport_path %></h6><br />

<%= form_for @search, :url => timereports_path, :html => {:method => :get} do |f| %>
  
  <h6><%= t('search.title') %></h6>	
  <%= f.label :cgdvcode_equals, t('search.cgdvcode') %>
  <%= f.text_field :volunteer_cgdvcode_equals, :size => 3 %>
  <%= f.submit t('helpers.search') %><br /><br />
<% end %>

<strong><%= t('search.sort') %>	</strong>

<%= paginate @timereports %>

<table>
<tr>
  <td><strong><%= sort_link @search, :cgdvcode, t('patient.cgdvcode'), :default_order => :desc %></strong></td>	
  <td><strong><%= sort_link @search, :day, t('volunteer.day'), :default_order => :desc %></strong></td>
  <td><strong><%= t('volunteer.begin') %></strong></td>
  <td><strong><%= t('volunteer.end') %></strong></td>
  <td><strong><%= t('volunteer.tiempo') %></strong></td>
  <td></td>
  <td></td>
</tr>
	<%= render @timereports %>
</table>


<%= paginate @timereports %>
