<div class="page-toolbar mb-3">
  <div class="d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center gap-2">
    <h1 class="h2 mb-0"><%= name_vol(@timereport) %>: <%= l @timereport.day %></h1>
    <div class="d-flex flex-wrap gap-2">
      <%= link_to t('helpers.submit.update', :model => "Reporte de Tiempo"), edit_timereport_path(@timereport), class: "btn btn-primary btn-sm" %>
      <% if can? :read, Timereport %>
        <%= link_to "Regresar a Reportar/Restar Tiempo", timereports_path, class: "btn btn-outline-secondary btn-sm" %>
      <% end %>
    </div>
  </div>
</div>

<div class="card border-0 shadow-sm">
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table mb-0 app-table">
        <tbody>
          <tr><th class="table-light w-25"><%= t('patient.cgdvcode') %></th><td><%= cgdvcode_vol(@timereport) %></td></tr>
          <tr><th class="table-light"><%= t('volunteer.evento') %></th><td><%= @timereport.evento %></td></tr>
          <tr><th class="table-light"><%= t('volunteer.day') %></th><td><%= l @timereport.day %></td></tr>
          <tr><th class="table-light"><%= t('volunteer.begin') %></th><td><%= l @timereport.begin, :format => :hourmin %></td></tr>
          <tr><th class="table-light"><%= t('volunteer.end') %></th><td><%= l @timereport.end, :format => :hourmin %></td></tr>
          <tr><th class="table-light"><%= t('volunteer.tiempo') %></th><td><%= @timereport.tiempo %></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
