<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :place, t('patient.place') %><br />
  <%= f.text_field :place %>
</div>
<div class="field">
  <%= f.label :number, t('patient.number') %><br />
  <%= f.text_field :number %>
</div>