<%= render 'shared/error_messages', :object => f.object %>
<div class="row g-3">
  <div class="col-md-4">
    <%= f.label :ingresos, t('socioeco.ingresos'), class: "form-label" %>
    <%= f.text_field :ingresos, class: "form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.label :gastos, t('socioeco.gastos'), class: "form-label" %>
    <%= f.text_field :gastos, class: "form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.label :nivel, t('socioeco.nivel'), class: "form-label" %>
    <%= f.text_field :nivel, class: "form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.label :televisiones, t('socioeco.televisiones'), class: "form-label" %>
    <%= f.text_field :televisiones, class: "form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.label :vehiculos, t('socioeco.vehiculos'), class: "form-label" %>
    <%= f.text_field :vehiculos, class: "form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.label :serviciosurbanos, t('socioeco.serviciosurbanos'), class: "form-label" %>
    <%= f.select :serviciosurbanos, ['Si', 'No'], {}, { class: "form-select" } %>
  </div>
  <div class="col-md-6">
    <%= f.label :televisionpaga, t('socioeco.televisionpaga'), class: "form-label" %>
    <%= f.select :televisionpaga, ['Si', 'No'], {}, { class: "form-select" } %>
  </div>
  <div class="col-md-6">
    <%= f.label :sgmm, t('socioeco.sgmm'), class: "form-label" %>
    <%= f.select :sgmm, ['Si', 'No'], {}, { class: "form-select" } %>
  </div>
</div>
