<tr>
  <td><%= t('socioeco.ingresos') %>: <%= number_to_currency(socioeco.ingresos) %></td>
  <td><%= t('socioeco.gastos') %>: <%= number_to_currency(socioeco.gastos) %></td>
</tr>
<tr><td COLSPAN=2><%= t('socioeco.remanente') %>: <%= number_to_currency(remanente(socioeco)) %></td></tr>
<tr>
  <td><%= t('socioeco.televisiones') %>: <%= socioeco.televisiones %></td>
  <td><%= t('socioeco.vehiculos') %>: <%= socioeco.vehiculos %></td>
</tr>
<tr>
  <td><%= t('socioeco.nivel') %>: <%= socioeco.nivel %></td>
  <td><%= t('socioeco.serviciosurbanos') %>: <%= socioeco.serviciosurbanos %></td>
</tr>
<tr>
  <td><%= t('socioeco.televisionpaga') %>: <%= socioeco.televisionpaga %></td>
  <td><%= t('socioeco.sgmm') %>: <%= socioeco.sgmm %></td>
</tr>

