<h1><%= t('timereport.title') %></h1>

<% if signed_in? and can? :read, VolTime %>
  <%= link_to "Tiempo Pendiente", vol_times_path %>: Añadir/Acumular Tiempo
<% end %>
<% if signed_in? and can? :read, Timereport %>
  <%= link_to "Reportes de Tiempo", timereports_path %>: Restar/Reportar Tiempo
<% end %>

<br /><br /><h6><%= link_to t('helpers.submit.create', :model => "Tiempo Pendiente"), new_vol_time_path %></h6><br />

<%= form_for @search, :url => vol_times_path, :html => {:method => :get} do |f| %>
  
  <h6><%= t('search.title') %></h6>	
  <%= f.label :cgdvcode_equals, t('search.cgdvcode') %>
  <%= f.text_field :volunteer_cgdvcode_equals, :size => 3 %>
  <%= f.label :evento_contains, t('volunteer.evento') %>
  <%= f.text_field :evento_contains %>
  <%= f.label :name_contains, t('patient.name') %>
  <%= f.text_field :volunteer_name_contains %><br />
  <%= f.submit t('helpers.search') %><br /><br />
<% end %>

<strong><%= t('search.sort') %>	</strong>

<%= paginate @voltimes %>

<table>
<tr>
  <td><strong><%= sort_link @search, :volunteer_cgdvcode, t('patient.cgdvcode'), :default_order => :desc %></strong></td>	
  <td><strong><%= sort_link @search, :day, t('all.created_at'), :default_order => :desc %></strong></td>
  <td><strong><%= t('voltime.evento') %></strong></td>
  <td><strong><%= t('voltime.horas') %></strong></td>
  <td></td>
  <td></td>
</tr>
	<%= render @voltimes %>
<tr>
  <td></td>
  <td></td>
  <td><strong>Tiempo Total: </strong></td>
  <td><strong></strong></td>
  <td></td>
  <td></td>
</tr>
</table>


<%= paginate @voltimes %>
