<header>
   <%= link_to logo, root_path %>
  <nav class='round'>
    <ul>
      <% if signed_in? %>
      <% if current_user.admin? %>
      <li><%= link_to t('header.users'), users_path %></li>
      <li><%= link_to t('helpers.submit.create', :model => User.to_s), signup_path %></li>
      <% end %>
      <li><%= link_to t('header.profile'), current_user %></li>
      <li><%= link_to t('header.settings'), edit_user_path(current_user) %></li>
      <% end %>
      <% if signed_in? %>
      <li><%= link_to t('session.logout'), signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to t('session.login'), signin_path %></li>
      <% end %>
    </ul>	
  </nav>
</header>
