<header>
   <%= link_to logoprint, root_path %> 	
    <nav class='inline round'>
  	<ul>
      <% if signed_in? %>  		
  	  <li><strong><%= t('user.name') %>:</strong> <%= current_user.name %>, No?</li>
      <li><%= link_to t('session.logout'), destroy_user_session_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to t('session.login'), new_user_session_path %></li>
      <% end %>
  	</ul>
  </nav>
  <nav class='round'>
    <ul>
      <% if user_signed_in? %>
      <% if current_user.admin? %>
      <li><%= link_to t('header.users'), users_path %></li>
      <li><%= link_to t('helpers.submit.create', :model => User.to_s), new_user_registration_path  %></li>
      <% end %>
      <li><%= link_to t('header.profile'), current_user %></li>
      <li><%= link_to t('header.settings'), edit_user_path(current_user) %></li>
      <% end %>
    </ul>
    </nav>
</header>
