<header class="navbar navbar-expand flex-column flex-md-row navbar-dark bg-dark">
  <%= link_to image_pack_tag("logo.png", alt: "CGDV",size: "139x50", class: "navbar-brand", loading: "lazy"), root_path %>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to current_user.name, current_user, class: "nav-link" %>
      </li>
      <li class="nav-item d-none d-sm-block">
        <%= link_to t('header.settings'), edit_user_path(current_user), class: "nav-link" %>
      </li>
      <li class="nav-item d-none d-sm-block">
        <% if signed_in? and can? :trep, Volunteer %>
          <%# FIXME: Correct this for tests %>
          <% unless current_user.volunteer.nil? %>
            <%# Workaround %>
            <%= link_to "Mis Horas", trep_volunteer_path(current_user.volunteer), class: "nav-link" %>
          <% end %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to t('session.logout'), destroy_user_session_path, :method => :delete, class: "nav-link" %>
      </li>
    </ul>
</header>
