<% if signed_in? and can? :read, Volunteer %>
  <li class="nav-item"><%= link_to t('header.volunteer'), volunteers_path, class: "nav-link" %></li>
<% end %>
<% if signed_in? and (can? :read, Timereport or can? :read, VolTime) %>
  <li class="nav-item"><%= link_to t('header.timereport'), times_path, class: "nav-link" %></li>
 <% end %>
<% if signed_in? and can? :read, ActivityReport %>
  <li class="nav-item"><%= link_to t('header.actrep'), activity_reports_path, class: "nav-link" %></li>
 <% end %>
<% if signed_in? and can? :read, Donor %>
  <li class="nav-item"><%= link_to t('header.donor'), donors_path, class: "nav-link" %></li>
<% end %>
<% if signed_in? and can? :read, Donation %>
  <li class="nav-item"><%= link_to t('header.donation'), donations_path, class: "nav-link" %></li>
<% end %>
